# Created by .ignore support plugin (hsz.mobi)
# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
*/node_modules
**/node_modules


# testing
/coverage

# production
**/build

# fichers
.env
npm-debug.log*
package-lock.json
yarn-debug.log*
yarn-error.log*
debug.log
yarn.lock
.idea
.vscode/
